#startup_button {
    position: absolute;
    top: 80%;
    right: 2.6%;
    border-radius: 10px;
}

.quick_access_title {
    position: absolute;
    top: 6%;
    right: 78%;
    font-size: 20px;
    font-weight: bold;
}

.quick_access_content {
    position: absolute;
    top: 12%;
    right: 22%;
    min-width: 62%;
    min-height: 40%;
    background-color: chartreuse;
}

.system_info {
    top: 5%;
    right: 708%;
    font-size: 20px;
    font-weight: bold;
}

.system_info_content {  
    position: absolute;
    top: 62%;
    right: 22%;
    min-width: 62%;
    min-height: 40%;
    background-color: rgb(10, 82, 171);
}